.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  margin-bottom: 20px;
}

.title {
  margin-bottom: 9px;
  font-size: 22px;
  font-weight: 600;
}

.title-green {
  color: #87C20A;
}

.description {
  width: 285px;
  margin-bottom: 40px;
  color: var(--color-dark-gray);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}