.content {
  padding-bottom: 40px;
  padding-inline: 60px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  .card-list {
    display: flex;
    justify-content: space-between;
    row-gap: 40px;
    flex-wrap: wrap;
  }
}