.card {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  width: 210px;
  padding: 20px 30px 34px 30px;
  border-radius: var(--border-radius-big);
  border: var(--border);
  transition-duration: var(--transition-duration);

  &:hover {
    box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
  }

  .favourite-icon {
    position: absolute;
    width: 32px;
    height: 32px;

    &:hover {
      cursor: pointer;
    }
  }

  .image {
    width: 133px;
    height: 112px;
  }

  .name {
    color: var(--color-dark);
    font-size: 14px;
    font-weight: 400;
  }

  .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;

    .price-block {
      display: flex;
      flex-direction: column;
      margin-top: auto;

      .name {
        color: var(--color-gray-first);
        font-size: 11px;
        font-weight: 500;
        text-transform: uppercase;
      }

      .price {
        color: var(--color-dark);
        font-size: 14px;
        font-weight: 700;
      }
    }


  }
  .button {
    width: 32px;
    height: 32px;
    background: var(--color-white);
    border: var(--border);
    border-radius: var(--border-radius-smallest);
    box-sizing: border-box;

    &:hover {
      cursor: pointer;
    }
  }
}