.btn-ahead {
  position: relative;

  // блокировка кнопки и анимаций (при ожидании ответа от сервера)
  &:disabled {
    background-color: var(--color-gray-first);
    cursor: default;

    &:hover {
      img {
        transform: translateX(0px);
      }
    }
  }

  &:hover {
    img {
      transform: translateX(5px);
    }
  }

  img {
    position: absolute;
    right: 35px;
    top: 22px;
    transition-duration: var(--transition-duration);
  }
}

