body {
  // используем переменную со шрифтом из _variables.scss
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-dark);
  background-color: var(--color-light);
}

* {
  font-family: var(--font-family-base);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;  // убираем нижнее подчеркивание
  color: inherit;  // цвет будет наследоваться от родителя, т.е. от body и будет черным
}

.button {
  width: 100%;
  padding-block: 18px;
  color: var(--color-white);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: var(--border-radius-average);
  background-color: #9DD458;
  transition-duration: var(--transition-duration);
}

.button:hover {
  cursor: pointer;
  background-color: #abe36c;
}

.button:active {
  background-color: #8ec54d;
}