@import
'normalize',
'variables',
'globals';

body {
  background-color: #E7F6FF;
}

.wrapper {
  position: relative;
  max-width: 1080px;
  min-height: 100vh;
  margin: 85px auto;
  border-radius: var(--border-radius-average);
  background: #FFF;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.04);
}

.container {
  padding: 40px 60px;
}

.container--pb60 {
  padding-bottom: 60px;
}