.btn-ahead {
  position: relative;

  &:hover {
    img {
      transform: translateX(5px);
    }
  }

  img {
    position: absolute;
    right: 35px;
    top: 22px;
    transition-duration: var(--transition-duration);
  }
}