.main {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.header {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.card-list {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.not-favourite-block {
  width: 290px;
  align-self: center;
  padding-top: 200px;
}